.Title {
color: white;
}
.Bruh {
text-align: center;

}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to bottom,  black 20%, blue 85%, darkcyan 15% )

}
.footer{
    text-align: center;
}
.Code {
color: white;    
}